<!DOCTYPE html>
<html lang="ja" data-theme="cupcake">

<head th:replace="~{fragments :: head (title='トップページ')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header th:replace="~{fragments :: header}"></header>

    <div class="container p-5 mx-auto">
        <h1 th:replace="~{fragments :: pagetitle (title='メモの追加')}"></h1>

        <div class="flex justify-center mt-1">
            <div th:if="${flash}" role="alert" class="alert alert-error max-w-lg">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span th:text="${flash.errorMsg}">FlashMessage</span>
            </div>
        </div>

        <div class="mt-2 p-2">
            <form method="post" action="/add" th:object="${MemoForm}">
                <div class="flex justify-center">
                    <label class="form-control w-full max-w-lg">
                        <div class="label">
                            <span class="label-text">タイトル</span>
                            <span class="label-text-alt">50文字まで</span>
                        </div>
                        <input name="title" type="text" placeholder="タイトルを入力..." class="input input-bordered w-full" />
                    </label>
                </div>
                <div class="flex justify-center">
                    <label class="form-control mt-1 w-full max-w-lg">
                        <div class="label">
                            <span class="label-text">内容</span>
                        </div>
                        <textarea name="text" class="textarea textarea-bordered h-24" placeholder="内容を入力..."></textarea>
                        <div class="label">
                        </div>
                    </label>
                </div>
                <div class="flex justify-center">
                    <input type="submit" class="btn" value="追加">
                </div>
            </form>
        </div>
    </div>

</body>

</html>