<!DOCTYPE html>
<html lang="ja">

<head th:replace="~{fragments :: head (title='トップページ')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header th:replace="~{fragments :: header}"></header>

    <div class="container p-5 mx-auto">
        <h1 th:replace="~{fragments :: pagetitle (title='トップページ')}"></h1>

        <div class="mt-5 p-2">
            <div class="mb-2">
                <h2 class="text-xl font-bold">メモ一覧</h2>
            </div>
            <ul class="">
                <li th:replace="~{fragments :: memoitem (page='/memo', title='かいもの')}"></li>
                <li th:replace="~{fragments :: memoitem (page='/memo', title='やることりすと')}"></li>
            </ul>

            <div class="flex justify-center mt-3">
                <a href="/add">
                    <button class="btn">メモを追加</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>